/* .body-image {
    background-attachment: fixed;
    background-image: url(images/bg-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
} */

.body-image .body-fix-image{
    position:fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(0.3);
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    -webkit-background-color:whitesmoke;
    -moz-background-color:whitesmoke;
    -ms-background-color:whitesmoke;
    -o-background-color:whitesmoke;
    transition: all .1s;
    z-index: 999;
}

#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover {
    color: #fff;
    box-shadow: none;
}

.middle-video {
    position: absolute;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 35vh;
    min-height: 10rem;
    width: 100%;
    overflow: hidden;
}

.nav-home-bg-image {
    background-image: url(images/cover-img.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 260px;
    width: 100%;
    margin-bottom: -80px;
    position: relative;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.sidepanel a {
    padding: 13px 8px 13px 16px;
    text-decoration: none;
    font-size: 13px;
    line-height: 35px;
    color:white;
    display: block;
    transition: 0.3s;
    font-weight: 500;
}

.sidepanel a:hover {
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    color: white;
    text-decoration: none;
    /* border-radius:10px; */
}

.sidepanel a img {
    margin-right: 10px;
}

.sidepanel ul{
    list-style-type: none;
    padding-left:0px;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 3px 10px;
    margin-top:22px;
    margin-right: 25px;
    font-size: 20px;
    color: white;
    border-radius:5px;
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    border: none;
    outline: none;
}

.slidepanel .closebtn:hover {
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
}
.slidepanel .closebtn:focus {
    border:none;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    color: #fff;
    padding: 10px 15px;
    border: none;
    left: 0;
    opacity: .8;
    position: relative;
    z-index: 1;
    border-radius:8px;
}

.opening {
    position: fixed;
    z-index: 2;
    top: 10px;
    right: 15px;
}

.openbtn i {
    color: white;
}

.openbtn:hover {
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    outline: none;
}

.middle-logo {
    text-align: center;
}

.middle-logo video {
    position: relative;
    z-index: 0;
}

.middle-logo img.first-image {
    position: relative;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    background-clip: padding-box;
    background-origin: padding-box;
    border: 4px solid #d8d8d8a6;
    padding:4px;
    background-color: white;
    -webkit-background-color:white;
    -moz-background-color:white;
    -ms-background-color:white;
    -o-background-color:white;
    box-shadow: 0 0 2px 2px rgba(118, 118, 118, 0.795);
    margin-top: 0;
    z-index: 1;
}

.middle-logo h2 {
    color: white;
    padding-top: 10px;
    font-weight: 700;
    font-size:28px;
    font-family: serif,sans-serif;
    /* text-shadow: -1px 0 20px #fff; */
}

.middle-logo h3{
    color: white;
    font-size:25px;
}

.middle-logo h2 span {
    color: #fff;
    padding-top: 10px;
    font-weight: 700;
}

.middle-logo h6 {
    font-size: 18px;
    color: whitesmoke;
}

.middle-logo h1 {
    font-size: 32px;
    color: #fff;
}

.middle-logo h1 span {
    color: darkrgb(2, 2, 163);
}

.profile-section {
    padding-top: 20px;
}

.profile-section .profile-icon a {
    color:white;
    font-weight: 500;
    font-size: 17px;
}

.profile-section a:hover {
    text-decoration: none;
}

.profile-section .profile-icon a i {
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    /* background-image:linear-gradient(1200deg , #ff5f20,#ff5024,#ff0000); */
    /* background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff); */
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    color:white;
    border-radius: 100%;
    padding: 18px;
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

.profile-section .profile-star span {
    color: gold;
    position: relative;
}

.star-review {
    color: white;
    font-weight: 500;
    padding-top: 8px;
    position: relative;
}

.contact-section .contact-icon a i {
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    color: white;
    border-radius: 100%;
    padding: 13px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-section .contact-icon p {
    color: white;
    font-weight: 500;
}

.list-inline-item i {
    font-size: 32px;
}

.contact-section .btn-success{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    background-color: #0c7200;
    border-color:#0c7200;
}

.contact-section .contact-button .button-color {
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    color: white;
    font-weight: 700;
    width: 100%;
    position: relative;
}

.contact-section .contact-button .button-color:hover,
.contact-section .contact-button .button-color:focus {
    box-shadow: none;
}

.about-section{
    position: relative;
    box-shadow: 0px 0px 50px 0px black;
}

.about-section::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
    background: rgba(0, 0, 0, 0.4);
}

.about-service-heading {
    text-align: center;
    /* color: rgb(0, 0, 255); */
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    position: relative;
}

.about-service-heading::after{
    content:"";
    position:absolute;
    height:5px;
    bottom:-10px;
    left:20%;
    right:20%;
    /* background-image:linear-gradient(90deg ,orangergb(2, 2, 163), white, orangergb(2, 2, 163)); */
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    display:block;
}

.about-section h3+h6 {
    color: darkrgb(2, 2, 163);
    text-align: center;
    padding: 20px 32px 9px 32px;
    font-size: 16px;
    font-weight: 500;
}

.about-section h4 {
    color: rgb(2, 2, 163);
    padding-top: 10px;
}

.about-section .about-data a p {
    color: #b7b7b7;
    font-weight: 500;
    text-align: center;
    padding: 5px 10px 0 10px;
    font-size: 15px;
}

.about-section .about-data p {
    color: white;
    font-weight: 500;
    text-align: justify;
    margin: 3px;
    font-size: 15px;
}

.about-section .about-data a {
    color: wheat;
    font-size: 17px;
}

.about-section a:hover {
    text-decoration: none;
}

.about-section .about-button-color {
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    color: white;
    font-weight: 500;
    position: relative;
}
.about-section .timing-text-color{
    position: relative;
}

.about-section .about-button-color:hover,
.about-section .about-button-color:focus {
    box-shadow: none;
}

.about-section .about-data a i {
    background-color: white;
    -webkit-background-color:white;
    -moz-background-color:white;
    -ms-background-color:white;
    -o-background-color:white;
    color: whitesmoke;
    border-radius: 100%;
    padding: 20px;
    font-size: 26px;
    text-align: center;
    margin-bottom: 1px;
}

.service-section .nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    position: relative;
}

.tabs .nav-item {
    padding: 2px;
}

.tabs .nav-item .nav-link {
    background-color: white;
    -webkit-background-color:white;
    -moz-background-color:white;
    -ms-background-color:white;
    -o-background-color:white;
    color: #001f34;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    /* height: 55px; */
    width: max-content;
    padding: 6px 11.1px;
    text-align: center;
}

.tabs .nav-item .active {
    color: white;
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    border: none;
}

.service-section .card-body {
    padding: 7px;
}

.service-section .card {
    margin: -3px -10px;
    background-color: white;
    -webkit-background-color:white;
    -moz-background-color:white;
    -ms-background-color:white;
    -o-background-color:white;
}

.service-section .card-body h4 {
    font-size: 20px;
}

.service-section .tab-content .card-body img {
    border-radius: 8px;
    margin-bottom: 20px;
    height: auto;
    width:100%;
}

.service-section .card-body a {
    width:100%;
    font-size: 14px;
}

.service-section .btn-success {
    background-color: rgb(0, 128, 49);
    -webkit-background-color:rgb(0, 128, 49);
    -moz-background-color:rgb(0, 128, 49);
    -ms-background-color:rgb(0, 128, 49);
    -o-background-color:rgb(0, 128, 49);
    border: 2px solid rgb(0, 128, 49);
}

.service-section .btn-primary {
    background-color: darkrgb(2, 2, 163);
    -webkit-background-color:darkrgb(2, 2, 163);
    -moz-background-color:darkrgb(2, 2, 163);
    -ms-background-color:darkrgb(2, 2, 163);
    -o-background-color:darkrgb(2, 2, 163);
    border: 2px solid darkrgb(2, 2, 163);
}

.service-section .btn-success:hover,
.service-section .btn-success:focus,
.service-section .btn-primary:hover,
.service-section .btn-primary:focus {
    box-shadow: none;
}

.portfolio-section .starting-gallery img {
    transition: 0.3s all ease-in;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid whitesmoke;
}

.modal-content {
    border:0px solid rgba(0,0,0,.2);
}

.modal-dialog {
    max-width:100%;
    margin: 0 auto;
}

.modal-body{
    padding:7px 7px;
}

a.anchor-crossmark {
    color: white;
    position: absolute;
    top: -13px;
    right: 3px;
    border-radius: 100%;
    font-size: 25px;
}

.portfolio-section .modal-body img {
    transition: 0.3s all ease-in;
    /* border-radius: 10px;
    border: 5px solid whitesmoke;
    box-shadow: 0 0 3px 1px whitesmoke; */
}

.portfolio-section a img:hover {
    transform: scale(.8);
}

.feedback-section .carousel-item {
    text-align: center;
    font-size: 24px;
    color: white;
}

.feedback-section .pro-bar .d-flex {
    justify-content: center;
}

.feedback-section .feed-star {
    color: gold;
    text-decoration: none
}

.feedback-section .pro-bar strong {
    color: white;
}

.feedback-section strong,
.feedback-section p {
    color: white;
}

.feedback-section .star-rating-wrapper {
    direction: rtl
}

.feedback-section .star-rating-wrapper input {
    display: none
}

.feedback-section .star-rating-wrapper label {
    width: 35px;
    position: relative;
    cursor: pointer;
    margin-bottom: 4.5rem
}

.feedback-section .star-rating-wrapper label::before {
    content: "\2605";
    position: absolute;
    font-size: 50px;
    top: 0;
    left: 0;
    color: gray;
}

.feedback-section .star-rating-wrapper label::after {
    content: "\2605";
    position: absolute;
    font-size: 50px;
    top: 0;
    left: 0;
    color: gold;
    opacity: 0
}

.feedback-section .star-rating-wrapper label:hover::after,
.feedback-section .star-rating-wrapper label:hover~label::after,
.feedback-section .star-rating-wrapper input:checked~label::after {
    opacity: 1
}

.feedback-section .QR-Code img {
    border: 3px solid rgb(154, 158, 154)
}

.feedback-section .QR-Code a.download-qr-code {
    background-color: whitesmoke;
    -webkit-background-color:whitesmoke;
    -moz-background-color:whitesmoke;
    -ms-background-color:whitesmoke;
    -o-background-color:whitesmoke;
    color: #001f34;
    font-weight:700;
    border: none;
    padding: 5px 10px;
    border: 2px solid rgb(168, 167, 167);
    border-radius: 5px;
}

.feedback-section .QR-Code a.download-qr-code:hover {
    text-decoration: none;
}

.feedback-section .dizibharat .created-by {
    padding-right: 5px;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -moz-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -ms-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -o-background-image:linear-gradient(1200deg , #00aeff,#0084ff,#1f1bff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.feedback-section .dizibharat a:hover {
    text-decoration: none;
}

a i:hover {
    animation: rotate 0.4s;
}

@keyframes rotate {
    0% {
        transform: rotate(75deg)
    }
    25% {
        transform: rotate(150deg)
    }
    50% {
        transform: rotate(225deg)
    }
    75% {
        transform: rotate(300deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.section-bottom-top a {
    position: fixed;
    height: 45px;
    bottom: 35px;
    right: 50px;
    background-color: gray;
    -webkit-background-color:gray;
    -moz-background-color:gray;
    -ms-background-color:gray;
    opacity: .8;
    color: white;
    font-size: 20px;
    padding: 11px;
    border-radius: 10px;
}

.section-bottom-top a:hover {
    background-color: rgb(226, 226, 226);
    -webkit-background-color:rgb(226, 226, 226);
    -moz-background-color:rgb(226, 226, 226);
    -ms-background-color:rgb(226, 226, 226);  
    -o-background-color:rgb(226, 226, 226);
    color: black;
}

.section-bottom-top a i:hover {
    animation: rotate 0.4s;
}

.section-bottom-top a i {
    animation: top-bottom 0.8s infinite;
}

@keyframes top-bottom {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 5px;
    }
}

@media (max-width:1200px) {
    /* about section */ 
    .about-service-heading::after{
        left:15%;
        right:15%;
    }
    .tabs .nav-item .nav-link {
        height: auto;
        width: max-content;
    }
}

@media (max-width:1200px) and (min-width:576px) {
    .service-section .card-body a {
        width: 48%;
        font-size: 10px;
    }
    .service-section .card-body h4 {
        font-size: 17px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .contact-section .btn-success {
        width: 150px;
        font-size: 13px;
        padding: 8px 0px;
    }
}

@media (max-width:991px) {
    /* about section */
    .about-service-heading::after{
        left:10%;
        right:10%;
    } 
}

@media (max-width:768px) {
    /* about section */
    .about-service-heading::after{
        left:8%;
        right:8%;
    }
    .section-bottom-top a {
        bottom: 10px;
        right: 10px;
    }
    .feedback-section .carousel-item {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (max-width:591px) {
    .profile-section .profile-icon a i {
        padding: 13px;
        font-size: 22px;
        text-align: center;
        margin-bottom: 7px;
    }
    .contact-icon p {
        font-size: 16px;
    }
}

@media (max-width:575px) {
    .service-section .card {
        margin: -3px -15px;
    }
}

@media (max-width:575px) {
    .service-section .card {
        margin: -3px -15px;
    }
    .portfolio-section .starting-gallery img {
        height:400px;
        /* height: auto; */
        border-radius: 5px;
        border: 4px solid whitesmoke;
    }
}

@media (max-width:427px) {
    .button-color,
    p {
        font-size: 14px;
    }
    .contact-icon p {
        font-size: 14px;
    }
    .contact-section .btn-success {
        width: 150px;
        font-size: 13px;
        padding: 8px 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .contact-section .contact-button .button-color {
        font-size: 14px;
        font-weight: 700;
        /* width: 115px; */
    }
    .about-section .about-data p {
        font-size: 14px;
        font-weight: 600;
    }
    .portfolio-section .starting-gallery img {
        height:300px;
        /* height: auto; */
    }
}

@media (max-width:391px) {
    /* about section */
    .about-service-heading::after{
        left:5%;
        right:5%;
    }
}



